
*{
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --z:0;
    height: 100vh;
    padding:20px 50px;
    margin: 0;
    background-color: rgb(77, 172, 99);
    display: flex;
    flex-direction: column;
}
#header{
    background-color: aliceblue;
    height: 10%;
    flex-shrink: 1;
    text-align: center;
    padding: 5px;
}
h1{
    margin:0;
}
#container{
    flex-shrink: 1;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: aqua
    ;

}
#right,#left{
    margin: 5px;
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    align-items: center;
    justify-content: space-around;

}
#center{
    width: 50%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}
#scoreboard{
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
#score{
    height: 95%;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 5px;
    align-items: center;
    justify-items: center;
}
#score>p{
    height: 70%;
    margin:0;
    font-size: 40px;
}
#score>span{
    height: 30%;
    font-size: large;
    font-weight: bold;

}

#game{
    margin: 5px;
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    height: 70%;
}
#pcPlay,#userPlay{
    margin: 5px;
    width: 50%;
}
#round{
    height: 80%;
    width: 20%;
    background-color: black;
}
#comment{
    margin:5px;
    height: 15%;
    background-color: antiquewhite;
}
#pComment{
    font-size: x-large;
    text-align: center;
}
.playable{
    
    margin: 5px;
    height: 30%;
    width: 75%;
    background-color: azure;
    border-radius: 10px;

}
.playAnim{
    position: relative;
    background-color: aqua;
    animation-name: played;
    animation-duration: 1s;
    z-index: 1;   
}
.playAnim#uRock {
    --top:33%;
    --right:null;
    --bottom:null;
    --left:100%;
    left:0px;
    top:0px;
}
.playAnim#uPaper{
    --top:null;
    --right:null;
    --bottom:null;
    --left:100%;
    left:0px;
}
.playAnim#uScissors{
    --top:null;
    --right:null;
    --bottom:33%;
    --left:100%;
    left:0px;
    bottom:0px;
}

.playAnim#pRock {
    --top:33%;
    --right:100%;
    --bottom:null;
    --left:null;
    right:0px;
    top:0px;
}
.playAnim#pPaper{
    --top:null;
    --right:100%;
    --bottom:null;
    --left:null;
    right:0px;
}

.playAnim#pScissors{
    --top:null;
    --right:100%;
    --bottom:33%;
    --left:null;
    right:0px;
    bottom:0px;
}
.winner{
    --background: rgba(0, 255, 0, 0.394);

    animation-name: result;
    animation-delay: 0.3ms;
    animation-duration: 1.7s;
}
.loser{
    --background: rgba(255, 0, 0, 0.408);
 
    animation-name: result;
    animation-delay: 0.3ms;
    animation-duration: 1.7s;

}


@keyframes result{
    50%{
        background-color: var(--background);
    }
}


@keyframes played{

    50%{ 
        top: var(--top);
        right: var(--right);
        bottom: var(--bottom);
        left: var(--left);     
    }
    80%{ 
        top: var(--top);
        right: var(--right);
        bottom: var(--bottom);
        left: var(--left);     
    }
}

